.PropertyEditor {
    display: block;
    padding: 5px 0;
    background: hsl(0,0%,85%);
    border-bottom: 1px solid hsla(0,0%,0%,.05);
}

.PropertyEditor > .montage-slot {
    width: 100%;
}

/* Property ---------------------- */

.Property {
    display: -webkit-flex;
}

.Property-label,
.Property-field {
    padding: 0 5px;
    line-height: 24px;
}

.Property-label {
    width: 80px;
    color: hsl(0,0%,50%);
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
 
.Property-field {
    -webkit-flex: 1;
    text-align: left;
}


/* Montage overrides */

.PropertyEditor .matte-Button {
    height: 24px;
}

.PropertyEditor .matte-InputText {
    display: block;
    width: 100%;
    height: 24px;
}

.PropertyEditor .matte-InputNumber {
    padding-top: 0;
    padding-bottom: 0;
    width: 80px;
}
