.PropertyGroup {
    font-size: 12px;
}

.PropertyGroup-toggle {
	padding: 4px 10px;
	color: hsl(0,0%,40%);
	background: hsl(0,0%,90%);
	border-top: 1px solid hsla(0,0%,100%,.5);
	border-bottom: 1px solid hsla(0,0%,0%,.08);
	-webkit-user-select: none;
	cursor: pointer;
}

.PropertyGroup-toggle:hover {
	background: hsl(0,0%,92%);
}

.PropertyGroup-toggle:active {
	background: hsl(0,0%,88%);
}

.PropertyGroup-toggle:focus {
	outline: none;
}

.PropertyGroup .propertyList {
    
}
